# streamlit==1.27.2
# streamlit-chat==0.1.1
# langchain==0.0.319
# pymilvus==2.3.1
# sentence-transformers==2.2.2
# langchainhub==0.1.13
# redis==5.0.1
# prometheus_client
chainlit
langchain
langchain_community
PyPDF2
pypdf
pymilvus
langchainhub
torch